/* Authors - Jenny Yao, Selinie Wang, Helen Lin */

/* -----STANDARD CSS------ */
*{
  margin: 0;
  font-family: 'Nunito';
}
*:focus {
    outline: none;
}
body {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
  background: #E05028;
  text-align: center;
}
/* -----END of STANDARD CSS------ */


/* ----- BODY ------ */

.container{
  align-content: center;
}
.quote{
  text-align: center;
  margin: 200px 0 50px 0;
  color: white;
}

/*The search bar*/
.form-group{
  margin: 0 50px 0 50px;
}
.form-control{
  height:calc(1.5em + 1.75rem + 2px);
  font-size: 1.25rem;
  border-radius: 1.75rem;
  padding: .375rem 1.75rem;
  width: 100%;
}

/*The search button*/
.buttons{
  margin-top: 50px;
  text-align: center;
}
.btn-primary{
  background-color: #E05028;
  border-color: white;
}
